/***********************************************************************
                          document structure
*************************************************************************/

html {
   -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; 
}

  /* set background image per page */
.index-bg {
  background: url(img/hOM03.jpg) no-repeat center center fixed;
  background-size: 1000px;
}

.experience-bg {
  background: url(img/hOM04.jpg) no-repeat center center fixed;
  background-size: 1000px;
}

.work-bg {
  background: url(img/hOM05.jpg) no-repeat center center fixed;
  background-size: 1000px;
}

.contact-bg {
  background: url(img/hOM06.jpg) no-repeat center center fixed;
  background-size: 1000px;
}

body {

}
/* ------ set custom header each page --------- */
.index-header-h1 {
  background-color: rgb(115, 252, 115);
}

.resume-header-h1 {
  background-color: rgb(125, 218, 255);
  margin-top: -10px;
}

.work-header-h1 {
  background-color: rgb(247, 150, 203);
  margin-top: -40px;
}

.contact-header-h1 {
  background-color: rgb(204, 95, 95);
  margin-top: -40px;
}

/* ------- set custom nav each page ------- */
.index-nav {
  background-color: rgb(125, 151, 9);
}

.index-nav-ul-li{
  margin-left: -20px;
}

.resume-nav {
  background-color: rgb(90, 109, 192);
  margin-top: -10px;
}

.work-nav {
  background-color: rgb(179, 79, 101);
  margin-top: -40px;
}

.contact-nav {
  background-color: rgb(185, 114, 66);
  margin-top: -40px;
}

section {

}

footer {

}

/***********************************************************************
                          body elements
************************************************************************/

/* -------------------------- site header --------------------------- */

header h1 {
  font-family: 'Rubik', sans-serif;
  font-size: 8em;
  font-variant-caps: unicase;
  color: white;
  background-color: black;
  width: 70%;
  height: 304px;
  margin-top: 0px;
  margin-bottom: 0px;
  float: left;
}

/* ----------------------- site navigation -------------------------- */
nav {
  background-color: black;
  width: 30%;
  height: 304px;
  float: right;
}

nav ul li {
  list-style-type: none;
  text-align: right;
  margin: 0;
  margin-left: 20px;
  padding: 0;
}

/* unvisted link */
nav a:link {
  text-decoration: none;
  color: #FFFFFF;
  font-family: 'Rubik', sans-serif;
}

/* visited link */
nav a:visited {
  text-decoration: none;
  color: #FFFFFF;
  font-family: 'Rubik', sans-serif;
}

/* mouse over link */
nav a:hover {
  text-decoration: none;
  color: #3C4039;
  font-family: 'Rubik', sans-serif;
}

/* selected link */
nav a:active {
  text-decoration: none;
  color: #D9E5CD;
  font-family: 'Rubik', sans-serif;
}

.navFont {
  font-size: 4em;
}
/* -------------------------------------------------------------------- */

/* headings */
h1 {

}

/* links */
a {

}

.index-p {
  font-family: 'Krona One', sans-serif;
  font-size: 3em;
  text-align: justify;
  text-justify: inter-word;
  color: #3C4039;
}

/* ----------------------- formatting classes ------------------------ */

.right {
    float: right;
    width: 60%;
    padding: 10px;
}

.left {
  float: left;
  width: 40%;
  padding: 10px;
}

/* ----------------------- resume page format ------------------------ */
/* Header/Blog Title */
.header {
  font-family: 'Rubik', sans-serif;
  color: white;
  padding: 30px;
  font-size: 40px;
  text-align: left;
  background: rgb(95, 129, 243, 0.4);
}

.h2 {
  font-family: 'Gidugu', sans-serif;
  font-size: 1.5em;
  color: #3C4039;
}

.li {
  list-style-type: none;
  font-family: 'Text Me One', sans-serif;
  font-size: 1.2em;
  color: #3C4039;
}

.jobs-li {
  font-family: 'Text Me One', sans-serif;
  font-size: 1.2em;
  color: #3C4039;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
  float: left;
  width: 70%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 30%;
  padding-left: 20px;
}

/* Add a card effect for articles */
.card {
  background-color: rgba(160, 238, 252, 0.4);
  padding: 20px;
  margin-top: 20px;
}

.img {
  width: 100%;
  padding: 20px;
}

.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* ---------------------- responsive image gallery -------------------- */

div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  font-family: 'Gidugu', sans-serif;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* ---------------------- contact page email form -------------------- */

* {
  box-sizing: border-box;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #c57496;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #ad7731;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2, 0.4;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 30%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 70%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}